<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join Waiting List</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body class="flex items-center justify-center h-screen bg-gray-200">
   <div class="bg-white p-6 rounded shadow-md w-80 form-container">
    <h2 class="text-2xl font-bold mb-4 text-gray-700">Join our waiting list</h2>
    <form action="/submit-email" method="POST">
        <div class="flex flex-col mb-4">
            <label for="email" class="mb-2 font-bold text-lg text-gray-700">Email address</label>
            <input type="email" id="email" name="email" class="border py-2 px-3 text-grey-darkest rounded">
        </div>
        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
            Join Waiting List
        </button>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='script.js') }}"></script>

</body>
</html>